<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Спроси Незнайку!</title>
    <link rel="icon" href="./assets/img/favicon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./assets/styles/styles.css">
    <script src="./assets/scripts/ks.js"></script>
    <script src="./assets/scripts/index.js" defer></script>
</head>

<body data-state="loader">

    <section id="loader">
        <div class="intro">
            <div class="titlewrapper"><img src="./assets/img/ask.svg" alt="Спроси Незнайку"></div>
        </div>
        <div class="logowrapper">
            <div class="logo"><img src="./assets/img/AST_EKSMO-logo.svg" alt="Издательская Группа &quot;Эксмо-АСТ&quot;"
                    title="Издательская Группа &quot;Эксмо-АСТ&quot;" />
                <img src="./assets/img/SKILLFACTORY-logo.svg" alt="Онлайн-школа &quot;SKILLFACTORY&quot;"
                    title="Онлайн-школа &quot;SKILLFACTORY&quot;" />
            </div>
            <img src="./assets/img/illbeback.svg" class="illbeback" alt="Ждите, я скоро вернусь!"
                title="Ждите, я скоро вернусь!">
            <img src="./assets/img/breakpaint.png" class="breakpaint" alt="Картина, которую Тюбик нарисовал бы лучше"
                title="Картина, которую Тюбик нарисовал бы лучше">
            <img src="./assets/img/breaktea.png" class="breaktea" alt="Съешь ещё французских булок, да выпей чаю!"
                title="Съешь ещё французских булок, да выпей чаю!">
        </div>
        <button id="go">Начать</button>
    </section>
    <section id="city">
        <div id="randomCreature"></div>
        <div id="turbosnail"></div>
        <div class="neznaika"></div>
        <div>
            <div class="book"></div>
        </div>
        <div class="logowrapper">
            <div class="logo"><img src="./assets/img/AST_EKSMO-logo.svg" alt="Издательская Группа &quot;Эксмо-АСТ&quot;"
                    title="Издательская Группа &quot;Эксмо-АСТ&quot;" />
                <img src="./assets/img/SKILLFACTORY-logo.svg" alt="Онлайн-школа &quot;SKILLFACTORY&quot;"
                    title="Онлайн-школа &quot;SKILLFACTORY&quot;" />
            </div>
        </div>
    </section>
</body>

</html>